@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0;
    margin: 0;
}

:root {
	--transition: 0.25s;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #e2e2ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff9655, #e66d22);
  border-radius: 10px;

}

main {
    overflow-x: hidden;
    z-index: 60;
    position: relative;
    margin-bottom: 350px; 
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #706DFF;
  z-index: 50; 
  position: relative;
}

header img {
  width: 23%;
  margin-left: 5%;
  padding: 6%;
}

nav {
  display: flex;
  gap: 1vw;
background-color: #706DFF;
  border-radius: 20px;
  padding: 2.7rem;
}

nav select {
    padding: 0.2rem 1rem; 
    border: transparent;
    border-radius: 30px;
background-color: #706DFF;
    font-family: inherit;
    color: #ffffff;
    font-size: 1.1vw;
    transition: all 0.5s ease; 
    display: inline-block;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1vw;
    padding: 0.2rem 1rem; 
    border-radius: 30px; 
    transition: all 0.5s ease; 
    display: inline-block;
    font-weight: 500;
}

nav a:hover {
    background-color: #D4621C;
    transform: scale(1.05);
}

nav select:hover {
    background-color: #D4621C;
    transform: scale(1.05);
    border-radius: 30px;
}

.HOME {
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: #706DFF;
    height: 360vh;
    width: 100%;
    z-index: 40;
}

.ese {
    padding-left: 25vw;
    width: 50%;
    text-align: left;
    padding-top: 5vh;
    line-height: 1.6;
}

.ese h1 {
    font-size: 3.5vw;
    font-weight: 800;
    padding-bottom: 3vh;
}

.ese h2 {
    font-weight: 800;
    padding-bottom: 3vh;
}

.ese p {
    text-align: justify;
    padding-bottom: 3vh;
}

.ile {
    padding-left: 25vw;
    width: 50%;
    text-align: left;
    padding-top: 5vh;
    line-height: 1.6;
}

.ile h2 {
    font-size: 3.5vw;
    font-weight: 800;
    padding-bottom: 3vh;
}

.ile h3 {
    font-weight: 800;
    padding-bottom: 3vh;
    font-size: 1.2vw;
}

.ile p {
    text-align: justify;
    padding-bottom: 3vh;
}

.sei {
    padding-left: 25vw;
    width: 50%;
    text-align: left;
    padding-top: 5vh;
    line-height: 1.6;
}

.sei h2 {
    font-size: 3.5vw;
    font-weight: 800;
    padding-bottom: 3vh;
}
.sei h3 {
    font-weight: 800;
    padding-bottom: 3vh;
    font-size: 1.2vw;
}

.sei p {
    text-align: justify;
    padding-bottom: 3vh;
}

.lii {
    padding-left: 25vw;
    width: 50%;
    text-align: left;
    padding-top: 5vh;
    line-height: 1.6;
    padding-bottom: 5vh;
}

.lii h2 {
    font-size: 3.5vw;
    font-weight: 800;
    padding-bottom: 3vh;
}

.lii h3 {
    font-weight: 800;
    padding-bottom: 3vh;
    font-size: 1.2vw;
}

.lii p {
    text-align: justify;
    padding-bottom: 3vh;
}


.bloques {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 5vh 0;
    align-items: center;
} 

.bloque-alfa, .bloque-beta, .bloque-gamma, .bloque-delta{
  text-decoration: none;
  color: white;
  padding: 3vh 4vw;
  border-radius: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1.2vw;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.bloque-alfa {
    background-color: #75E992;
}

.bloque-beta {
    background-color: #5C5ACC;
}

.bloque-gamma {
    background-color: #8685E8;
}

.bloque-delta {
    background-color: #C0B4FF;
}

.bloque-alfa:hover {
    transform: scale(1.05);
}

.bloque-beta:hover {
  background-color: #75E992;
  transform: scale(1.05);
}

.bloque-gamma:hover {
  background-color: #75E992;
  transform: scale(1.05);
}

.bloque-delta:hover {
  background-color: #75E992;
  transform: scale(1.05);
}

.content_inner {
  width: 90%;
  margin: 40px 40px 420px 40px;
  padding: 100px;
}

.fixed_footer {
  width: 100%;
  height: 350px;
  background: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.idk {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1px;
  line-height: 30px;
}

.col li:first-child {
  font-weight: bolder;
}