
/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    text-underline-offset: none;
}
p{
    text-align: center;
}

/* HOME */

main {
    overflow-x: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header img {
  background: white;
  width: 35%;
  margin-bottom: 18px;
  margin-left: 5%;
  padding: 6%;
}


nav {
  display: flex;
  gap: 1vw;
  background: rgba(255, 255, 255, 0.795);
  border-radius: 20px;
  padding: 3rem;
}

nav select {
    padding: 0.2rem 1rem; 
    border: transparent;
    border-radius: 30px;
    background: white;
    font-family: inherit;
    color: #706DFF;
    font-size: 1.1vw;
    transition: all 0.5s ease; 
    display: inline-block;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #706DFF;
    font-size: 1.1vw;
    padding: 0.2rem 1rem; 
    border-radius: 30px; 
    transition: all 0.5s ease; 
    display: inline-block;
    font-weight: 500;
}

nav a:hover {
    background-color: #706DFF;
    color: white;
    transform: scale(1.05);
}

nav select:hover {
    background-color: #706DFF;
    color: white;
    transform: scale(1.05);
    border-radius: 30px;
}

.HOME {
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    color: #706DFF;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10vh;
}

.HOME a {
    font-family: "Be Vietnam Pro", sans-serif;
}

.frase{
    padding-top: 3.5rem;
    font-size: 6vw;
    font-weight: 800;
}

.finalmente {
    padding-left: 10vw;
}

.alguien {
    padding-right: 23vw;
}

.me {
    padding-left: 3vw;
}

.entiende {
    padding-left: 13vw;
}

.frase2 {
    font-weight: 500;
    font-size: 1.1vw;
    padding-bottom: 5vh;
}

.realizar-test1 {
    text-decoration: none;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    color: #706DFF;
    border: 2px solid #706DFF;
    border-radius: 4px;
    font-size: 1.8vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    transition: all 0.5s ease;
    display: inline-block; 
}

.realizar-test1:hover {
    background-color: #75E992;
    transform: scale(1.05);
    color: white;
}


.slider-acordeon {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}


.panel {
  flex: 1;
  transition: flex 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.panel img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
  filter: brightness(70%);
}


.panel:hover {
  flex: 1;
  z-index: 2;
}


.slider-acordeon:hover .panel:not(:hover) {
  flex: 0.8;
}

.panel:hover img {
  transform: scale(1.05);
  filter: brightness(100%);
}


.background {
  background-color: #706DFF;
  height: 200vh;
  position: relative;
  z-index: 100;
  margin-bottom: 350px; 
}


.tipologia {
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 12vh;
}

.tipologia h2 {
    font-weight: 800;
    font-size: 6vw;
    margin-bottom: 1.5vh;
}

.tipologia p {
    font-weight: 300;
    width: 40%;
    padding-left: 30vw;
    font-size: 1.01vw;
    line-height: 1.6;
}

.eneagrama {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  padding-top: 20vh;
}

.eneagrama img {
  width: 23%;
}

.enea-texto {
  max-width: 40%;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.enea-texto h2 {
  font-size: 5.5vw;
  margin-bottom: 1.5vh;
}

.enea-texto p {
  font-size: 1vw;
  line-height: 1.6;
  font-weight: 300;
}


.socionica {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  padding-top: 20vh;
}

.socionica img {
  width: 30%;
}

.socio-texto {
  max-width: 40%;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socio-texto h2 {
  font-size: 5.5vw;
  margin-bottom: 1.5vh;
}

.socio-texto p {
  font-size: 1vw;
  line-height: 1.6;
  font-weight: 300;
}

.menu,
.HOME,
.slider-acordeon {
  position: relative;
  z-index: 70;
}

.content_inner {
  width: 90%;
  margin: 40px 40px 420px 40px;
  padding: 5%;
}

.fixed_footer {
  width: 100%;
  height: 350px;
  background: #ffffff;

}


.idk {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1px;
  line-height: 30px;
}

.col li:first-child {
  font-weight: bolder;
}

.col-2 img{
    width: 50%;
}

.unite{
    display: flex;
    flex-direction: column;
}


/* BUSQUEDA DE TEST */

.container-xxl{
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.container-xxl h2{ 
    font-size: 3rem;
    font-weight: bolder;
}

.container-xxl p{ 
    text-align: justify;
    margin-bottom: 2%;}

.boton1{ 
    border: none;
    border-radius: 15px;
    padding: 0.5em 2.2em; 
    background-color: #706DFF;
    color: white;
    font-size: 1.2em;

  }
.boton1:hover{
    background-color: #75E992;
    box-shadow: inset rgba(12, 82, 72, 0.322) 0px 2px 3px 0px ;
    border-bottom: #75E992 solid 2px;
    transition: ease-in-out 300ms;
}


/* TEST ENEGRAMA */

.h-item{
    height: 45vw;
}

.carousel-item{
    background-color: #75E992;
}
.carousel-item h2{
    font-size: 3em;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.329) 0.2px 0.2px 5px;
}

.carousel-item p{
    font-size: 1.1em;
}

.carousel-caption{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    background-color: #6f6dff5b;
    padding: 2%;
    border-radius: 25px;

}

h3{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}


.infotest{
    background-color: black;
    color: white;
}



img{
    width: 100%;
}

.card{
    background-color: #706DFF;
}

.card:hover{
    transform: scale(1.02);
    background-color: #8785ff;
    box-shadow: inset rgba(6, 6, 46, 0.322) 0px 2px 3px 0px ;
    transition: all ease-in-out 300ms;
    
}
.card h4{
    color: white;
}
.card p{
    text-align: center;
    color: white;
}

.boton2{
    border: solid white 2px;
    border-radius: 15px;
    padding: 0.5em 2.2em; 
    color: white;
    font-size: 1.2em;
}

.boton2:hover{

    border: solid  #706DFF 2px;
    color: #e7e7ff;
    background-color: #6f6dffb0;
    box-shadow: inset rgba(12, 82, 72, 0.322) 0px 2px 3px 0px ;
    transition: ease-in-out 300ms;
    
}


.pregunta{
    background-color: #fafaff;
    margin-bottom: 2%;
    border-radius: 25px;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.582) 0px 3px 1px;
}

.numeropregunta{
    background-color: #75E992;
    padding: 1%;
    color: black;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 2px 2px;
    display: inline-block;
}

.opciones_color{
    display: flex;
    justify-content: center;
    border: solid #ffffff 0.1em ;
    
    padding: 0.8%;
    border-radius: 25px;
}

.bg5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -4%;
    margin-right: -3%;
}

.form-check-inline{
    margin-top: 1.5%;
}

input[type="radio"]{
   appearance: none;
}


input[type="radio"]::before{

    border: rgb(238, 238, 238) solid 0.2em;
    border-radius: 50px;
    background-color: transparent;
    content: "" ;
    display: inline-flex;
    height: 2em;
    width: 2em;
    box-shadow: rgba(0, 0, 0, 0.541) 0px 1px  1px;

}


input[type="radio"]:checked::before{
    transform: scale(1.2);
    border-color: #9dfab5 ;
    background-color:#75E992 ;
    transition: ease-in-out 200ms;
    box-shadow: rgba(0, 0, 0, 0.829) 0px 2px  4px;
}

.form-check-label{
    text-align: center;
    margin-top: 5px;
    font-size: 0.8em;
    color: rgb(238, 238, 238) ;
    

}


.bg6{
    background-color: #706DFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg7{
    padding: 2%;
    margin: 2%;
}

.submit-button{

    border: solid white 2px;
    border-radius: 15px;
    padding: 0.5em 02em; 
    color: #706DFF;
    font-size: 1.2em;
    width: 16%;

}

.test_simulacion_interseccion{
    background-color: #000000;
    color: #fafaff;
    font-weight: bolder;
    text-align: center;

}


.test_simulacion_interseccion p {
    text-align: center;
}


.test_final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.test_final h2{
    font-size: 3em;
    font-weight: bolder;
}

.test_final p{
    text-align: center;
    font-size: 1.2em;
}

.test_final{
    
    height: 35vw;
    background-color: black;
    color: white;

}

.inicio_test{
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 2%;
}

form p {
    text-align: justify;
    padding: 0.5%;
}

/* RESULTADOS */


.resultados_inicio{
text-align: center;
    text-justify: justify;


}


.introduccion_resultado{
    color: #fafaff;
    background-color: #000000;
    height: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduccion_texto p{

    margin-top: 5%;
    padding: 1.6%;
    border-radius: 20px;
    text-align: justify;
    background-color: #706DFF;
    transition: flotar 2s ;
}



.contenedor_tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.bg9{
    background-color: #75E992;
}
.bg9 h4{
    color: #000000;
    font-size: 1.4em;
    align-items: center;
    padding: 1.2%;
    font-weight: bolder;
}

.tarjetas{
    background: #ffffff;
}

.tarjetas p{
    color: #000000;
    text-align: justify;
}


.tarjetas:hover{
    transform: scale(1.02);
    background-color: #9dfab5;
    box-shadow: inset rgba(6, 6, 46, 0.322) 0px 2px 3px 0px ;
    transition: all ease-in-out 300ms;
    
}


.resultados_totales {
       color: #fafaff;
    background-color: #000000;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.bg11{
    margin-top: 12%;
    margin-bottom: 9%;
    justify-items: center;
}

.bg11 h2{
       color: #000000;
    font-size: 3em;
    align-items: center;
    font-weight: bolder;
}

.bg11 p{
       color: #000000;
    font-size: 1.2em;
    align-items: center;

}

.puntaje_inicio{
    justify-items: center;
}


.puntaje_inicio p{
    text-align: justify;
}

.barras{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;

}

p.description {
      font-size: 0.95rem;
      margin-bottom: 30px;
      max-width: 600px;
    }

    .bar-container {
      background-color: #fff;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 20px;
      position: relative;
      color: #000;
    }

    .bar-label {
      background-color: #b25300;
      color: white;
      padding: 10px 15px;
      font-size: 0.9rem;
      font-weight: bold;
    }

    .bar-info {
      position: absolute;
      right: 15px;
      top: 10px;
      text-align: right;
      font-size: 0.85rem;
      color: #000;
    }

    .bar-fill {
      background-color: #b25300;
      height: 10px;
      width: 54%;
      margin-top: 8px;
      margin-left: 0;
    }

    .bar-content {
      padding: 10px 15px 20px;
      font-size: 0.85rem;
    }

    /*RESULTADOS ENEAGRAMAS 2*/

    .introduccion_texto2 P{ 
         margin-top: 5%;
    padding: 1.6%;
    border-radius: 20px;
    text-align: justify;
    background-color: #75E992 ;
    color: #000;
    transition: flotar 2s ;
    }


    .bg13{
    background-color: #706DFF;
}
.bg13 h4{
    color: #000000;
    font-size: 1.4em;
    align-items: center;
    padding: 1.2%;
    font-weight: bolder;
}


/* TEST SOCIONICA */


.test_socionica_inicio{
    text-align: center;
}


.introduccion_resultado_socionica{
    color: #fafaff;
    background-color: #000000;
    height: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


.introduccion_resultado_socionica h4{

    text-align: center;
}



.resultados_totales_socionica {
       color: #fafaff;
    background-color: #000000;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.resultados_totales_socionica .contenedor_tarjetas {
    margin-bottom: 20%;

}

.resultados_totales_socionica div h3 {
    margin-bottom: 12%;

}


/*PALETA DE COLOR*/


    .seleccion {
      background-color: #c4561a;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5%;
      border-radius: 30px 30px 0 0;
      color: white;
    }

    .seleccion h4 {
      text-align: center;
      font-size: 2em;
    }

    .button-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 20px;
    }

    .button-grid button {
      padding: 10px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: white;
      color: #c4561a;
      font-weight: bold;
      transition: transform 0.1s;
    }

    .button-grid button:hover {
      transform: scale(1.05);
    }

    .button-grid button.selected {
      background-color: #8c3200;
      color: white;
    }

    .bg15{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
    }



    #crear_boton {
      margin-top: 20px;
      padding: 10px 30px;
      font-size: 1rem;
      background-color: white;
      color: #c4561a;
      border: none;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
    }

    #result {
      margin: 60px auto;
      max-width: 800px;
      text-align: center;
    }

    .palette {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
    }

    .color-box {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      border: 2px solid #ccc;
    }